@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  min-height: 100vh;
  display: grid;
  background-position: center;
  background-size: cover;
}

.weather-container {
  padding: 45px;
  place-self: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.search-bar input {
  height: 50px;
  padding: 15px;
  margin-right: 10px;
  border-radius: 40px;
  font-size: 18px;
  border: none;
  outline: none;
}

.weather-icon {
  width: 180px;
  height: 180px;
  margin: 20px 0;
  object-fit: cover;
  object-position: center;
}

.temperature {
  font-size: 55px;
  font-weight: bold;
  letter-spacing: 4px;
}

.location {
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 4px;
}

.weather-info {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.weather-info .col {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 22px;
}

.weather-info .col span {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.weather-info .col img {
  width: 35px;
  object-fit: cover;
  object-position: center;
  margin-top: 10px;
}